Binaries
DerivedDataCache
Intermediate
Saved
Build
Windows
Android_ASTC
Services
Plugins/Firebase8d7bcf9a30e9V11

.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


# math-skills-reinforcement - remote: reinforce 
Content/Maps/Game
Content/Maps/Math-Test-Mini-Games
Content/BlueprintCore/Handwriting


# math-skills-reinforcement - remote: reinforce - market
# Content/BlueprintCore/City
# Content/Maps/math-skills-Reinforcement/Builder
# Content/Maps/math-skills-Reinforcement/Delivery
# Content/Maps/math-skills-Reinforcement/Hoops
# Content/Maps/math-skills-Reinforcement/Restaurant

# Content/Assets/City/Exterior

# Content/Assets/City/Interior/Coffee
# Content/Assets/City/Interior/Hospital
# Content/Assets/City/Interior/Mechanic
# Content/Assets/City/Interior/Police
# Content/Assets/City/Interior/Restaurant


# math-skills-reinforcement - remote: reinforce - builder
Content/BlueprintCore/City
Content/Maps/math-skills-Reinforcement/Market
Content/Maps/math-skills-Reinforcement/Delivery
Content/Maps/math-skills-Reinforcement/Hoops
Content/Maps/math-skills-Reinforcement/Restaurant

Content/Assets/City/Exterior

Content/Assets/City/Interior/Coffee
Content/Assets/City/Interior/Hospital
Content/Assets/City/Interior/Market
Content/Assets/City/Interior/Police
Content/Assets/City/Interior/Restaurant


# # math-skills-reinforcement - remote: reinforce - restaurant
# Content/BlueprintCore/City
# Content/Maps/math-skills-Reinforcement/Builder
# Content/Maps/math-skills-Reinforcement/Delivery
# Content/Maps/math-skills-Reinforcement/Hoops
# Content/Maps/math-skills-Reinforcement/Market

# Content/Assets/City/Exterior

# Content/Assets/City/Interior/Hospital
# Content/Assets/City/Interior/Market
# Content/Assets/City/Interior/Police
# Content/Assets/City/Interior/Mechanic


# # math-skills-reinforcement - remote: reinforce - delivery
# Content/BlueprintCore/City/Basketball
# Content/Maps/math-skills-Reinforcement/Builder
# Content/Maps/math-skills-Reinforcement/Restaurant
# Content/Maps/math-skills-Reinforcement/Hoops
# Content/Maps/math-skills-Reinforcement/Market

# Content/Assets/City/Interior/Coffee
# Content/Assets/City/Interior/Market
# Content/Assets/City/Interior/Mechanic
# Content/Assets/City/Interior/Restaurant


# # math-skills-reinforcement - remote: reinforce - hoops
# Content/BlueprintCore/City/Buildings
# Content/Maps/math-skills-Reinforcement/Builder
# Content/Maps/math-skills-Reinforcement/Restaurant
# Content/Maps/math-skills-Reinforcement/Delivery
# Content/Maps/math-skills-Reinforcement/Market

# Content/Assets/City/Exterior/Private_Buildings
# Content/Assets/City/Exterior/Public_Buildings

# Content/Assets/City/Interior/Coffee
# Content/Assets/City/Interior/Hospital
# Content/Assets/City/Interior/Market
# Content/Assets/City/Interior/Police
# Content/Assets/City/Interior/Mechanic
# Content/Assets/City/Interior/Restaurant